body {
  background-color: darkseagreen;
}

#addAccBtn {
  font-size: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 15px;
}

#addAccBtn:hover {
  background-color: green;
  font-weight: bold;
}

.delBtn {
  display: block;
  margin: auto;
  margin-bottom: 5px;
}

.delBtn:hover {
  background-color: red;
  font-weight: bold;
}

.accContainer {
  border-style: solid;
  border-color: black;
  border-width: 3px;
  border-radius: 8px;
  display: inline-block;
  background-color: rgb(240, 216, 84);
}

.account {
  border-style: solid;
  border-color: black;
  border-width: 3px;
  border-radius: 8px;
  background-color: silver;
  display: inline-block;
  margin: 10px;
}

.grandContainer {
  border-style: solid;
  border-color: black;
  border-width: 3px;
  border-radius: 8px;
  display: inline-block;
  background-color: rgb(240, 216, 84);
  margin: 10px;
}

.grandContainer p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  margin-left: 5px;
  margin-right: 5px;
}

#title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3em;
  text-align: center;
}

#credit {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.75em;
  text-align: center;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
}

label {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}

input {
  margin: 5px;
  padding: 5px;
  width: auto;
}